<p>
  play-game works!
</p>

<!--player 1-->

<div class="col-lg-6">
player 1

    <!--is your turn-->
    <!---->
    <!--here is board-->

  <!--{{player.name}}-->
  <!--<app-board-->
    <!--[ships]="ships"-->
    <!--[cellsOfShips]="cellsOfShips"-->
    <!--[isDisableChanges]="isFinishedChoosing"-->
    <!--(onCellClicked)="clickCell($event)"></app-board>-->
</div>

<!--player 2-->
<div class="col-lg-6">

  player 2
  <!--{{player.name}}-->
  <!--<app-board-->
  <!--[ships]="ships"-->
  <!--[cellsOfShips]="cellsOfShips"-->
  <!--[isDisableChanges]="isFinishedChoosing"-->
  <!--(onCellClicked)="clickCell($event)"></app-board>-->
</div>
