td {
  width: 25px;
  height: 25px;
}

.circle {
  display: inline-block;
  text-align: center;
  line-height: 25px; /*vertical-align: middle;*/
  margin: 2px;

  width: 25px;
  height: 25px;
  background: #51fff8;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
