<h2>
  התור של - {{player.name}}
</h2>
<h3>
  בחירת מיקומי הצוללות
</h3>

<div class="col-lg-4">
  <app-board
    [ships]="ships"
    [cellsOfShips]="cellsOfShips"

    (onCellClicked)="clickCell($event)"></app-board>
</div>

<div class="col-lg-8">
  <button id="switchDirectionButton" (click)="switchDirection()" class="btn btn-info">החלף כיוון</button>

  <app-potential-ship
    [size]="currentShipNumberOfCells"
    [detectChangeInParent]="currentShipNumberOfCells"
    [isVertical]="isVertical"></app-potential-ship>

  <span class="text-danger">{{message}}</span>
</div>
