.contains-ship {
  background-color: aqua;
}

td {
  width: 55px;
  height: 55px;
}

.circle {
  display: inline-block;
  text-align: center;
  line-height: 50px; /*vertical-align: middle;*/
  margin: 2px;

  width: 50px;
  height: 50px;
  background: #c0fff3;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

.circle-pointer {
  cursor: pointer;
}

.exposed-no-ship {
  background-color: #fff50d;
}

.exposed-with-ship {
  background-color: #ff2213;
  animation: circle-color-changer 1.5s ease 0s;
}

@keyframes circle-color-changer {
  0% {
    background-color: white;
  }

  20% {
    background-color: red;
  }
  40% {
    background-color: #ffc8a0;
  }

  60% {
    background-color: #b8181f;
  }

  80% {
    background-color: #ffc8a0;
  }

  100% {
    background-color: red;
  }
}

.exposed-ship {
  background-color: lightslategray;
  animation: cell-color-changer 1.5s ease 0s;
}

@keyframes cell-color-changer {
  0% {
    background-color: white;
  }

  50% {
    background-color: black;
  }

  100% {
    background-color: white;
  }
}
